@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", serif;
}
body{
  background-color:#FAFAF9;
}
.main{
  position: absolute;
}
.circle{
  background-color: #F5C044;
  width: 45px;
  height: 45px;
  border-radius: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
h1{
 font-size: 36px;
 color: #18181B;
 font-weight: 900;
}
.text-review{
  font-size: 20px;
  color: #52525A;
  line-height:35px;
  margin-bottom: 20px;
  margin-top: 12px;
}
.check{
  right: 12px;
  position: relative;
}
.check-list, h3{
  display: flex;
  font-size: 14px;
 color: #52525A;
  margin: 10px;
  font-weight: 500;
}
main{
  width: 550px;
  margin: 72px;
}
section{
  display: flex;
  margin: 72px;
  width:700px;
}
.review{
  font-size: 14px;
}
#review-google{
 position:absolute;
 top:100px;
 left:64%;
 background-color:#FFFFFF;
 margin: 5px;
 height:24%;
 width:32%;
 border-radius: 10px;
 padding: 25px 5px 10px;
 display: flex;

}
#review-meta{
position:absolute;
 top:50%;
 left:49%;
 background-color:#FFFFFF;
 margin: 15px;
 height:24%;
 width:32%;
 border-radius: 10px;
 padding: 25px 5px 10px;
 display: flex;
}
.star {
  left:55px;
  position: relative;
}
.logo-google,.logo-meta{
  left:30px;
  position: relative;
}
.text{
  position: relative;
  right: 7.2rem;
  margin-top: 10px;
}
.text p{
 font-size: 18px;
 color: #52525A;
 line-height: 30px;
 font-weight: 400;
}
h2{
font-size: 18px;
 color: #18181B;
 line-height: 30px;
 font-weight: bolder;
}

@media (max-width:1200px) and (orientation: landscape) {
  #review-google{
    top:25%;
    left:64%;
    height:30%;
    width:34%;
   display:flex;
   }
   #review-meta{
    top:60%;
    left:50%;
    height:20%;
    width:36%;
    display:flex;
   }
}

/*Landscape*/
@media (max-width: 1024px) and (orientation: landscape)  {
  body{
    width:100%;
  }
  main {
    left:-40px;
    position:relative;
  }
  .text-review {
    width: 120%;
  }
  .text p{
    font-size: 16px;

   }
  #review-google{
    position:absolute;
    top:60%;
    left:60%;
    background-color:#FFFFFF;
    margin: 5px;
    height:22%;
    width:45%;
    border-radius: 10px;
    padding: 25px 5px 10px;
    display: flex;
    text-align: justify;
   
   }

  #review-meta{
    position:absolute;
     top:92%;
     left:25%;
     background-color:#FFFFFF;
     margin: 15px;
     height:22%;
     width:48%;
     border-radius: 10px;
     padding: 25px 5px 10px;
     display: flex;
    }
    .check{
      width:70%;
    }
}

@media (max-width:480px) and (orientation:landscape) {
  .text-review{
    width: 70%;

  }
  #review-meta{
    top:270%;
    left: 8%;
    width: 95%;
    height: 60%;
  }
  #review-google{
    top: 205%;
    left:10%;
    width: 95%;
    height: 60%;
  }
}

/* portrait*/
@media (max-width:890px)  and (orientation:portrait){
  main {
    left:-60px;
    position:relative;
    top:-45px;
    
  }
  .text-review{
    font-size:4vw;
    line-height: 6vw;
    word-spacing: 2vw;
    color: #52525A;
    width:98vw;
  } 
  #review-google{
    top:100vw;
    left:1%;
    background-color:#FFFFFF;
    height:25vw;
    width:98vw;  
   }
   #review-meta{
     top:130vw;
     left:-1vw;
     height:25vw;
     width:98vw;
    }
    .text{
      font-size: 16px;
    }
    .check-list,h3 {
      font-size: 3vw;
      margin: 2vw;
    }
    .text p,h2 {
      font-size:3vw;
    }
}

@media (min-width:220px) and (max-width:450px) and (orientation:portrait){ 
  .text-review{
    font-size: 8vw;
    color: #52525A;
    width:96vw;
    height:22%;
    line-height: 130%;
  } 
  #review-google{
    top:210vw;
    height:50vw;
    letter-spacing: 0.1px;
    width:100vw;
    left:-2%;
    margin-top:38%;
  }
  .star{
    width: 58%;
    left:12%;
  }
  .logo-google,.logo-meta{
    left:5%;
    
  }
  #review-meta{
    top:305vw;
    height:50vw;
    left:-2%;
    width:102vw;
  }
  .check{
    width:54%;
    height: 30%;
  }
  .text p,h2{
   width: 160%;
   font-size: 5vw;
  }
  .check-list, h3 {
    font-size: 5vw;
    margin: 3vw;
  }
}
